// Place all the styles related to the whiskeys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.box{
	margin-bottom:50px;
}

.i{
	padding:10px 0;
}

h2{
border-bottom: 1px solid #ccc;
border-left: 1px solid #c30;
}

.info{
	border: solid 1px black;
	border-radius: 1px;
	height:200px;
	width:310px;
}

