// Place all the styles related to the whiskeys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.i{
	padding:10px 0;
}

h2{
border-bottom: 1px solid #ccc;
border-left: 1px solid #c30;
}

.info{
	border: solid 1px black;
	border-radius: 1px;
	height:200px;
	width:100%;
	margin:10px 0;
}



.button mt-3{
	color:black;	
}

.average-review-rating{
	color:white;
	padding:8px;
}


//コメント表示
.comment-date{
	font-size:15px;
	color:black;
	vertical-align: middle;
	padding: 5px;
}

.comment-count{
	font-size:20px;
	color:black;
	padding: 5px;
}

.th{
	color: brown;
}

.comment{
	color:black;
}

.box{
	margin-top:10px;
}

select{
width:170px;
padding:5px;
}

.name{
	font-weight:bold;
}
